h1 {
    font-size: 350%;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 5%;
}

h2 {
    font-size: 250%;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 1%;
}

h3 {
    font-size: 180%;
    line-height: 180%;
    font-weight: 400;
    margin-bottom: 5%;
}
img {
    height: auto;
    max-width: 100% !important;
    vertical-align: middle;
}

.full-width-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#container {
    padding-top: 0px !important;
}

#content {
    margin: 0;
    padding: 0;
}