#pc {
    background-image: url("");
}
#imac {
    background-image: url("http://lfslc.sites.olt.ubc.ca/files/2016/10/both-imacs.jpg");
}
.center-box {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.box-name {
    color: white;
    text-align: center;
}

.box {
    background-size: cover;
    height: 250px;
}

@media screen and (max-width: 979px) {
    .box {
        height: 150px;
    }
}

.overlay {
    display: block;
    position: relative;
    background-color: rgba(12, 35, 68, .85);
    height: 100%;
    width: 100%;
}

.overlay:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(12, 35, 68, 0);
}