@import url('//cloud.typography.com/6804272/781004/css/fonts.css');

#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    float: none;
}
.breadcrumb {
    margin-left: auto !important;
    margin-right: auto  !important;
    max-width: 1170px  !important;
    float: none  !important;
}

h1 {
    font-weight: 400;
    margin-bottom: 1%;   
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}
h2 {
    font-weight: 400;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}
h3 {
    font-size: 150%;
    line-height: 180%;
    font-weight: 400;
    font-weight: 400;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}
h4 {
    font-weight: 400;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}
p, td {
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}
li, ul {
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    font-size: 1em;
}
.intro {
    font-size: 130%;
    line-height: 160%;
    margin-bottom: 30px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}
.border-bottom {
    border-bottom: 1px solid #b2c6d3;
    padding-bottom: 30px;
}
.image-gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: none;
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}
