img {
    height: auto;
    max-width: 100% !important;
    vertical-align: middle;
}
.full-width-container {
    margin-left: 0px !important;
}
#container {
    padding-top: 0px !important;
}
#content {
    margin: 0;
    padding: 0;
}
.overlay {
    display: block;
    position: relative;
    background-color: rgba(12, 35, 68, .8);
    height: 100%;
    width: 100%;
}
.overlay:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(12, 35, 68, 0);
}
.center-box {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.span12 {
    margin-bottom: 30px;
}
.flexslider {
    display: none;
}
.header-text {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    color: white;
    margin-bottom: 3%;
}
.large-intro {
    font-size: 400%;
    line-height: 150%;
}
.image-region {
    position: relative;
    margin-right: -15px;
}
@media screen and (max-width: 979px) {
    .box {
        height: 150px;
    }
}
@media screen and (max-width: 767px) {
   .span12 {
        margin-bottom: 0;
    }
    .large-intro {
        font-size: 200%;
    }
}
@media screen and (max-width: 480px) {
    .box {
        height: 120px;
    }
    .large-intro {
        font-size: 150%;
        padding-left: 20px;
    }
}
@media screen and (max-width: 300px) {
    .box {
        height: 70px;
    }
    .large-intro {
        font-size: 110%;
        padding-left: 15px;
    }
}
.box-name {
    color: white;
    text-align: center;
}
.box {
    background-size: cover;
    height: 250px;
    margin-bottom: 20px;
}
#instruction {
    background-image: url(http://lfslc.sites.olt.ubc.ca/files/2017/08/people-coffee-notes-tea.jpg);
}
#computer {
    background-image: url(http://lfslc.sites.olt.ubc.ca/files/2017/08/computer-motherboard-pc-wires.jpg);
}
#web {
    background-image: url(http://lfslc.sites.olt.ubc.ca/files/2016/10/web.jpg);
}
#training {
    background-image: url(http://lfslc.sites.olt.ubc.ca/files/2017/08/people-woman-coffee-meeting.jpg);
}
#audio {
    background-image: url(http://lfslc.sites.olt.ubc.ca/files/2016/10/4420161991_b713de163f_o-2.jpg);
}

#twitter-widget-0 {
    height: 750px !important; 
}