.page .entry-title {
    display: none;
}

#intro-background {
    position: relative;
}

#intro-picture {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#intro-textbox {
    background-color: #FFFFFF;
    width: 45%;
    height: 25%;
    position: absolute;
    opacity: 0.8;
    top: 60%;
    left: 0%;
    z-index: 1;
}

#two-box-div {
    height: 300px;
    background-color: aquamarine;
    margin: auto;
    margin-top: 30px;
    width: 96%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.two-box {
    width: 50%;
}

#left-two-box {
    background-color: cadetblue;
}

#right-two-box {
    background-color: blueviolet;
}

.intro-text {
    padding-left: 15px;
    padding-top: 5px;
    word-wrap: normal;
}

.text-center {
    text-align: center;

}