.page .entry-title {
    display: none;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.025);
}

#intro-background {
    position: relative;
}

#intro-picture {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#intro-textbox {
    background-color: #FFFFFF;
    position: absolute;
    opacity: 1;
    z-index: 1;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

#left-two-box {
    background-image: linear-gradient(to top, rgba(23, 43, 56, 0.6), rgba(23, 43, 56, 0.7)), url(https://lfslc.sites.olt.ubc.ca/files/2022/09/christin-hume-Hcfwew744z4-unsplash.jpg);
    background-size: cover;
}

#right-two-box {
    background-image: linear-gradient(to top, rgba(23, 43, 56, 0.6), rgba(23, 43, 56, 0.7)), url(https://lfslc.sites.olt.ubc.ca/files/2022/09/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
    background-size: cover;
}

.text-center {
    text-align: center;
}

.tb-button {
    background-color: #FFF;
    border: none;
}

.tb-button:hover {
    transition: 0.4s;
    background-color: #ACD0E3;
}

.front-page-sub {
    color: #FFF;
}

/* IN PROGRESS */

.front-page-sub {
    margin-top: 12%;
}

#two-box-div {
    height: 300px;
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.two-box {
    width: 50%;
}

.two-box-mid {
    padding: 15px;
}


.intro-text {
    padding-left: 5%;
    word-wrap: normal;
}

.intro-title {
    padding-top: 4px;
}

.intro-sub {
    padding-top: 4px;
}

.tb-button {
    margin-top: 1.5%;
    margin-left: 44%;
    padding: 12px 20px;
}

/* RESPONSIVE SIZING */

/* RESPONSIVE FOR LARGE SCREENS - SEGMENTED AS NEEDED */
/* ABOVE 1201px viewport */

@media screen and (min-width: 1601px) {
    .intro-text {
        padding-left: 1.5vw;
    }

    .intro-title {
        padding-top: 0.2vw;
        font-size: 1.8vw;
    }

    .intro-sub {
        padding-top: 0.2vw;
        font-size: 1.1vw;
    }

    #intro-picture {
        width: 100vw;
        height: 20vw;
    }

    #intro-textbox {
        height: 8vw;
        width: 50vw;
        top: 9vw;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1201px) {
    .intro-text {
        padding-left: 1.5vw;
    }

    .intro-title {
        padding-top: 0.2vw;
        font-size: 2vw;
    }

    .intro-sub {
        padding-top: 0.2vw;
        font-size: 1.2vw;
    }

    #intro-picture {
        width: 100vw;
        height: 25vw;
    }

    #intro-textbox {
        height: 10vw;
        width: 50vw;
        top: 12vw;
    }
}

/* RESPONSIVE FOR DESKTOPS - SEGMENTED AS NEEDED */
/* RANGE OF 1025px to 1200px viewport */

@media screen and (max-width: 1200px) and (min-width: 1101px) {
    .intro-text {
        padding-left: 2vw;
    }

    .intro-title {
        padding-top: 0.2vw;
        font-size: 2.6vw;
    }

    .intro-sub {
        padding-top: 0.2vw;
        font-size: 1.6vw;
    }

    #intro-picture {
        width: 100vw;
        height: 30vw;
    }

    #intro-textbox {
        height: 12vw;
        width: 50vw;
        top: 15vw;
    }
}

@media screen and (max-width: 1100px) and (min-width: 1025px) {
    .intro-text {
        padding-left: 2vw;
    }

    .intro-title {
        padding-top: 0.2vw;
        font-size: 3vw;
    }

    .intro-sub {
        padding-top: 0.2vw;
        font-size: 2vw;
    }

    #intro-picture {
        width: 100vw;
        height: 40vw;
    }

    #intro-textbox {
        height: 14vw;
        width: 60vw;
        top: 20vw;
    }
}

/* RESPONSIVE FOR LAPTOP AND SMALL SCREENS - SEGMENTED AS NEEDED */
/* RANGE OF 769px to 1024px viewport */

@media screen and (max-width: 1024px) and (min-width: 901px) {
    .intro-text {
        padding-left: 2vw;
    }

    .intro-title {
        padding-top: 0.2vw;
        font-size: 3.2vw;
    }

    .intro-sub {
        padding-top: 0.2vw;
        font-size: 1.8vw;
    }

    #intro-picture {
        width: 100vw;
        height: 35vw;
    }

    #intro-textbox {
        height: 14vw;
        width: 66vw;
        top: 17vw;
    }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    .intro-text {
        padding-left: 2vw;
    }

    .intro-title {
        padding-top: 0.2vw;
        font-size: 4.2vw;
    }

    .intro-sub {
        padding-top: 0.2vw;
        font-size: 2.4vw;
    }

    #intro-picture {
        width: 100vw;
        height: 45vw;
    }

    #intro-textbox {
        height: 18vw;
        width: 80vw;
        top: 20vw;
    }
}

/* RESPONSIVE FOR TABLET DEVICES - SEGMENTED AS NEEDED */
/* RANGE OF 481px to 768px viewport */

@media screen and (max-width: 768px) and (min-width: 641px) {
    .intro-text {
        padding-left: 2vw;
    }

    .intro-title {
        padding-top: 0vw;
        font-size: 4.8vw;
    }

    .intro-sub {
        padding-top: 0vw;
        font-size: 2.8vw;
    }

    #intro-picture {
        width: 100vw;
        height: 50vw;
    }

    #intro-textbox {
        height: 20vw;
        width: 80vw;
        top: 22vw;
    }
}

@media screen and (max-width: 640px) and (min-width: 541px) {
    .intro-text {
        padding-left: 2vw;
    }

    .intro-title {
        padding-top: 0vw;
        font-size: 5vw;
    }

    .intro-sub {
        padding-top: 0vw;
        font-size: 2.6vw;
    }

    #intro-picture {
        width: 100vw;
        height: 60vw;
    }

    #intro-textbox {
        height: 30vw;
        width: 80vw;
        top: 18vw;
    }
}

@media screen and (max-width: 540px) and (min-width: 481px) {
    .intro-text {
        padding-left: 2vw;
    }

    .intro-title {
        padding-top: 0vw;
        font-size: 6vw;
    }

    .intro-sub {
        padding-top: 0vw;
        font-size: 3vw;
    }

    #intro-picture {
        width: 100vw;
        height: 60vw;
    }

    #intro-textbox {
        height: 37vw;
        width: 80vw;
        top: 18vw;
    }
}

/* RESPONSIVE FOR MOBILE DEVICES - SEGMENTED AS NEEDED */
/* RANGE OF 320px to 480px viewport */

@media screen and (max-width: 480px) and (min-width: 401px) {
    .intro-text {
        padding-left: 2.5vw;
    }

    .intro-title {
        font-size: 9.5vw;
    }

    .intro-sub {
        font-size: 4.1vw;
    }

    #intro-picture {
        width: 100vw;
        height: 100vw;
    }

    #intro-textbox {
        height: 46vw;
        width: 85vw;
        top: 34vw;
    }
}

@media screen and (max-width: 400px) and (min-width: 320px) {
    .intro-text {
        padding-left: 2.5vw;
    }

    .intro-title {
        font-size: 9.5vw;
    }

    .intro-sub {
        font-size: 4.1vw;
    }

    #intro-picture {
        width: 100vw;
        height: 100vw;
    }

    #intro-textbox {
        height: 60vw;
        width: 85vw;
        top: 34vw;
    }
}