.text-center {
    text-align: center;
}

.four-card-div {
    padding-top: 10px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 24.25% 24.25% 24.25% 24.25%);
    column-gap: 1%;
}

.logo {
    max-width: 100%;
}

.four-card {
    border: 2px solid red;
    border-radius: 20px;
}
