h3 {
  text-align: center; 
}
p {
 text-align: center; 
}

.image-wrapper {
    height:50%;
    display:block;
}

.text-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    height: 50%;
}

img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.span4 {
    background-color: #f7f7f7;
}

.row-people {
    margin-bottom: 20px;
}

.accordion-arrow {
    float: right;
    margin-right: -4px;
    margin-top: 4px;
}

.member-intro {
    height: 70px;
}
.page-title {
    display:none;
}
